apiVersion: v1
kind: Secret
metadata:
    name: onepassword-connect-secret
stringData:
    1password-credentials.json: "#{ bootstrap_1password.data.credentials_json }#"
    token: "#{ bootstrap_1password.data.token }#"
