---
# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.18.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
    name: unifi-dns-secret
stringData:
    UNIFI_DNS_HOST: "#{ unifi_dns_host_ip }#"
    UNIFI_DNS_API_KEY: "#{ unifi_dns_api_key }#"
