---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: searxng
spec:
  chartRef:
    kind: OCIRepository
    name: searxng
  interval: 1h
  values:
    controllers:
      app:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/searxng/searxng
              tag: 2025.11.21-b876d0bed@sha256:6e1e739e0d96d08ed8819f4c72c92c37e0f6b6be8f9e41d5ff5298ebc28e6842
            command:
              - /usr/local/searxng/.venv/bin/granian
              - searx.webapp:app
            env:
              BASE_URL: https://search.${SECRET_DOMAIN}
            envFrom:
              - secretRef:
                  name: searxng-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: &port 8080
                  initialDelaySeconds: 15
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              runAsUser: 977
              runAsGroup: 977
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
                # add:
                #   - CHOWN
                #   - SETGID
                #   - SETUID
                #   - DAC_OVERRIDE
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 3Gi
    pod:
      securityContext:
        fsGroup: 977
    defaultPodOptions:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: "{{ .Release.Name }}"
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "search.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
    persistence:
      config:
        type: configMap
        name: searxng-configmap
        advancedMounts:
          app:
            app:
              - path: /etc/searxng/settings.yml
                subPath: settings.yml
              - path: /etc/searxng/limiter.toml
                subPath: limiter.toml
              - path: /etc/searxng/favicons.toml
                subPath: favicons.toml
      tmp:
        type: emptyDir
        advancedMounts:
          app:
            app:
              - path: /etc/searxng
              - path: /tmp
