---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kavita
spec:
  chartRef:
    kind: OCIRepository
    name: kavita
  interval: 1h
  values:
    controllers:
      kavita:
        # labels:
        #   nfsMount: "true"
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/kareadita/kavita
              tag: 0.8.9@sha256:69e9117b9b681849a6f6d5dc8411bfa6a326ed77f78cc49d9cbce49584ff6c0d
            env:
              TZ: Europe/London
            resources:
              requests:
                cpu: 50m
                memory: 1Gi
              limits:
                memory: 2Gi
    service:
      app:
        ports:
          http:
            port: 5000
    route:
      app:
        hostnames:
          - "comics.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /kavita/config
      cache:
        type: emptyDir
        globalMounts:
          - path: /kavita/config/cache
      logs:
        type: emptyDir
        globalMounts:
          - path: /kavita/config/logs
      data:
        type: nfs
        server: unraid.kvshs.xyz
        path: /mnt/user/data
        globalMounts:
          - path: /data
            readOnly: true
