---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./pvc.yaml
  - ./rbac.yaml
  - ./secret.sops.yaml
  - ./tcproute.yaml
configMapGenerator:
  - name: forgejo-values
    files:
      - ./helm/values.yaml
configurations:
  - ./helm/kustomizeconfig.yaml
