---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dispatcharr
spec:
  chartRef:
    kind: OCIRepository
    name: dispatcharr
  interval: 30m
  values:
    controllers:
      dispatcharr:
        containers:
          app:
            image:
              repository: ghcr.io/dispatcharr/dispatcharr
              tag: 0.12.0@sha256:510829d3d4dba6b690e6afeb9b31da6549e3dc23950e71d2bc877608acf7cb7d
            env:
              CELERY_BROKER_URL: redis://localhost:6379/0
              DISPATCHARR_ENV: aio
              DISPATCHARR_LOG_LEVEL: info
              DISPATCHARR_PORT: &port 9191
              REDIS_HOST: localhost
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 50m
                memory: 1Gi
              limits:
                memory: 4Gi
    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: dispatcharr
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: false
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [100, 44]
    service:
      app:
        ports:
          http:
            appProtocol: kubernetes.io/wss
            port: *port
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          dispatcharr:
            app:
              - path: /data
                subPath: data
      tmpfs:
        type: emptyDir
        advancedMounts:
          dispatcharr:
            app:
              - path: /tmp
                subPath: tmp
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
