---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: calibre
spec:
  chartRef:
    kind: OCIRepository
    name: calibre
  interval: 1h
  values:
    controllers:
      calibre:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/linuxserver/calibre
              tag: 8.15.0@sha256:364083f5bee4290a8decf0d3a0480260eb24347509e82a79d08e1c2c723ed431
            env:
              TZ: Europe/London
              TITLE: Calibre
              PUID: 1000
              PGID: 1000
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 15m
                memory: 604M
              limits:
                memory: 1024M
    service:
      app:
        ports:
          http:
            port: 8080
          web:
            port: 8081
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /config
      data:
        type: nfs
        server: unraid.kvshs.xyz
        path: /mnt/user/data
        globalMounts:
          - path: /data
      # tmp:
      #   type: emptyDir
