---
# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.18.1-standalone-strict/secret-v1.jsonapiVersion: v1
apiVersion: v1
kind: Secret
metadata:
    name: onepassword-secret
stringData:
    1password-credentials.json: "#{ onepassword_credentials_json }#"
    token: "#{ onepassword_token }#"
