apiVersion: v1
kind: Secret
metadata:
    name: external-dns-unifi-secret
stringData:
    EXTERNAL_DNS_UNIFI_HOST: "#{ bootstrap_unifi.credentials.host }#"
    EXTERNAL_DNS_UNIFI_USER: "#{ bootstrap_unifi.credentials.user }#"
    EXTERNAL_DNS_UNIFI_PASS: "#{ bootstrap_unifi.credentials.password }#"
