machine:
  kubelet:
    extraMounts:
      - destination: /var/lib/longhorn
        type: bind
        source: /var/lib/longhorn
        options:
          - bind
          - rshared
          - rw
  disks:
    - device: /dev/sda
      partitions:
        - mountpoint: /var/lib/longhorn
