apiVersion: v1
kind: Secret
metadata:
    name: external-dns-unifi-secret
stringData:
    EXTERNAL_DNS_UNIFI_HOST: "#{ bootstrap_unifi.credentials.host }#"
    EXTERNAL_DNS_UNIFI_API_KEY: "#{ bootstrap_unifi.credentials.api }#"
