---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app renovate
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      renovate:
        type: cronjob
        cronjob:
          schedule: "@hourly"

        pod:
          annotations:
            k8s.ksgate.org/forgejo-deployment: |
              {
                "apiVersion": "apps/v1",
                "kind": "Deployment",
                "name": "forgejo",
                "expression": "resource.status.readyReplicas >= 1"
              }
          schedulingGates:
            - name: k8s.ksgate.org/forgejo-deployment
          securityContext:
            supplementalGroups:
              - 991 # TPM TSS

        containers:
          app:
            image:
              repository: ghcr.io/renovatebot/renovate
              tag: 42.1.3@sha256:724220885785c57898d5709624eceddb012d8f63ac08a8f718aa77c13ca621bc
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: renovate-secret
            env:
              LOG_LEVEL: debug
              RENOVATE_PLATFORM: 'gitea'
              RENOVATE_ENDPOINT: 'https://git.${SECRET_DOMAIN}/api/v1'
              RENOVATE_AUTODISCOVER: 'true'
              RENOVATE_GIT_AUTHOR: 'Renovate <renovate@${SECRET_DOMAIN}>'
              RENOVATE_CONFIG_FILE: '/opt/renovate/config.json'
            resources:
              requests:
                cpu: 250m
#                memory: 500Mi
#                squat.ai/tpmrm: 1
              limits:
                cpu: '2'
#                memory: 4Gi
#                squat.ai/tpmrm: 1
    #  service:
    #    renovate:
    #      controller: renovate
    #      ports:
    #        http:
    #          port: 8080
    persistence:
      config:
        enabled: true
        type: configMap
        name: renovate-configmap
        globalMounts:
          - path: /opt/renovate/config.json
            subPath: config.json
      cache:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp/renovate
    #  ingress:
    #    renovate:
    #      enabled: true
    #      hosts:
    #        - host: "renovate.svc.${SECRET_DOMAIN}"
    #          paths:
    #            - path: /
    #              service:
    #                identifier: renovate
    #                port: http
