---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: firefly
spec:
  chartRef:
    kind: OCIRepository
    name: firefly
  interval: 1h
  values:
    controllers:
      firefly:
        pod:
          enableServiceLinks: false
          annotations:
            reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/rkoosaar/postgres-init
              tag: 17
            envFrom: &envFrom
              - secretRef:
                  name: firefly-secret
        containers:
          app:
            image:
              repository: ghcr.io/rkoosaar/firefly-iii
              tag: v6.4.14@sha256:89ce9d8be9a933b6ea81369d5251c44f607d1301ba7ddb384af70ca2db74cfa8
            env:
              TZ: Europe/London
              APP_ENV: "production"
              APP_DEBUG: "false"
              LOG_CHANNEL: "stdout"
              APP_LOG_LEVEL: "notice"
              DEFAULT_LANGUAGE: "en_GB"
              DEFAULT_LOCALE: "equal"
              APP_URL: "https://{{ .Release.Name }}.${SECRET_DOMAIN}"
              TRUSTED_PROXIES: "*" # TODO: This should be changed..

              VIRTUAL_HOST: firefly.default.svc.cluster.local
              VIRTUAL_PORT: 8080
              MAIL_MAILER: log
              SEND_REGISTRATION_MAIL: false
              SEND_ERROR_MESSAGE: false
              SEND_LOGIN_NEW_IP_WARNING: false
            envFrom: *envFrom
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 600m
                memory: 256Mi
              limits:
                cpu: 800m
                memory: 1024Mi
    service:
      app:
        ports:
          http:
            port: 8080
            protocol: HTTP
            appProtocol: http

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      upload:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          firefly:
            app:
              - path: /var/www/html/storage/upload
      logs:
        enabled: true
        type: emptyDir
        advancedMounts:
          firefly:
            app:
              - path: /var/www/html/storage/logs
