machine:
  kubelet:
    extraConfig:
      serializeImagePulls: false
      featureGates:
        ImageVolume: true
        ResourceHealthStatus: true
    nodeIP:
      validSubnets:
        - #{ node_cidr }#
