---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: firefly-data-importer
spec:
  chartRef:
    kind: OCIRepository
    name: firefly-data-importer
  interval: 1h
  values:
    controllers:
      firefly-data-importer:
        pod:
          enableServiceLinks: false
          annotations:
            reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/rkoosaar/firefly-iii-data-importer
              tag: 1.6.1@sha256:b4dcd8b598505ea8d8896f50d4d91edfc133ab5a43880482d0f66d9db182c4ec
            env:
              TRUSTED_PROXIES: "**"
              FIREFLY_III_URL: "http://firefly.default.svc.cluster.local:8080"
              VANITY_URL: "firefly.${SECRET_DOMAIN}"
              CAN_AUTO_IMPORT: 'true'
              CAN_POST_FILES: 'true'
              FIREFLY_III_ACCESS_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: firefly-importer-secret
                    key: IMPORTER
            envFrom:
              - secretRef:
                  name: firefly-secret
            resources:
              requests:
                memory: 310Mi

    service:
      app:
        ports:
          http:
            port: 8080

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
